@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 14% 6%;
  --foreground: 0 0% 90%;
  --card: 240 11% 7%;
  --card-foreground: 0 0% 90%;
  --border: 240 10% 18%;
  --radius: 0.5rem;
}
